<?xml version="1.0" encoding="utf-8"?>
<!--首发（无 ModId 时用）。创建新模组 + 上传首个版本 + 返回 ModId。-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>
    <TargetFramework>net48</TargetFramework>
    <PublishDir>bin\$(Configuration)\$(TargetFramework)\</PublishDir>
    <ModPublisherCommand>Publish</ModPublisherCommand>
  </PropertyGroup>
</Project>
